
a, p, span {
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    line-height: normal;
}
/* HEADER */

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-menu-1 {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;

    background-color: #10BBD5;
}

.header-logo {
    display: block;
    background-image: url(../images/logo.png);
    width: 136px;
    height: 30px;
    margin: 0 52px;

    background-repeat: no-repeat;
}

.header-cart {
    display: inline-block;
    padding: 0 46px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-cart::after {
    content: '0';

    display: inline-flex;

    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;

    background-image: url(../images/cart_icon.png);
}

.header-menu-2 {
    background-color: #FFF;
    display: flex;
    height: 32px;
    padding: 0 52px;
    justify-content: space-between;
    align-items: center;
}

.header-menu-2 a {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-menu-2-aside {
    display: flex;
    gap: 40px;
}

/* HEADER END */

.chat {
    background-image: url(../images/chat.png);
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 10px;
    right: 10px;
    z-index: 9;
}

/* MAIN */

body {
    background-color:#EEEEEF;
}

.main {
    display: block;
    padding: 104px 0 0 0 ;
}

.main-text {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;

    margin: 36px 52px 0 52px;
    padding-bottom: 22px;

    border-bottom: 1px solid #A8A8A8;
}

.listings {
    margin: 24px 0 120px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 32px;
    column-gap: 10px;

    place-items: center;
}

.product-card {
    background-color: #F8FDFE;
    width: 306px;
    height: 512px;
    border: 1px solid #8E8E8E;
    padding: 32px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.prod-img {
    display: block;
    width: 178px;
    height: 280px;

    margin: 0 auto 16px auto;
}

.prod-name {
    display: inline-block;
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    border-bottom: 1px solid #A8A8A8;
}

.author-name {
    display: inline-block;
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    margin-bottom: 8px;
}

.price {
    display: inline-block;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    margin-bottom: 16px;

    position: relative;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 8px 24px;
    border-radius: 4px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.button.basket {
    background-color: #4C394E;
}

.button.readed {
    background-color: #4D762D;
}

/* HOVERS !!!*/

.button.basket:hover {
    background-color: #744978;
}

.button.readed:hover {
   background-color: #6DB236;
}

/* HOVERS !!!*/

.card-1 .prod-img {
    background-image: url(../images/listings/image_1.jpg);
}

/* PROBLEM CARD !!!!!!!!!!!!!!*/

.card-2 .prod-img {
    background-image: url(../images/listings/image_2.jpg);
}

.card-3 .prod-img {
    background-image: url(../images/listings/image_3.jpg);
}

.card-3 .price::after{
    content: '22,00 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-4 .prod-img {
    background-image: url(../images/listings/image_4.jpg);
}

.card-5 .prod-img {
    background-image: url(../images/listings/image_5.jpg);
}

.card-5 .price::after{
    content: '35,50 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-6 .prod-img {
    background-image: url(../images/listings/image_6.jpg);
}

.card-6 .price::after{
    content: '13,50 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-7 .prod-img {
    background-image: url(../images/listings/image_7.jpg);
}

.card-7 .price::after{
    content: '11,50 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-8 .prod-img {
    background-image: url(../images/listings/image_8.jpg);
}

.card-9 .prod-img {
    background-image: url(../images/listings/image_9.jpg);
}

.card-10 .prod-img {
    background-image: url(../images/listings/image_10.jpg);
}

.card-10 .price::after{
    content: '14,50 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-11 .prod-img {
    background-image: url(../images/listings/image_11.jpg);
}

.card-11 .price::after{
    content: '14,50 €';
    position: absolute;
    left: 84px;
    color: #8E8E8E;
    text-decoration-line: line-through;
}

.card-12 .prod-img {
    background-image: url(../images/listings/image_12.jpg);
}



.hit.product-card::before {
    content: 'Hit';
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #4200FF;

    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
}

.new.product-card::before {
    content: 'New';
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #AF39E7;

    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
}

.discount.product-card::before {
    content: '10% off';
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #EA33C0;

    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
}

/* MAIN END */

/* FOOTER */

.footer {
    width: 100%;
    height: 88px;
    background-color: #4C394E;

    display: flex;
    justify-content: space-between;

}

.footer p {
    margin: 32px 52px;

    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


